@if (data() && data().show) {
  <section
    class="fixed inset-0 flex items-center justify-center bg-charcoal/50 py-16 dark:bg-charcoal/50"
  >
    <main
      class="w-full max-w-screen-sm rounded bg-canvas p-4 md:p-8 dark:bg-canvas-dark"
    >
      <section class="flex flex-col items-center">
        <i-lucide
          [img]="modalIcons[data().type].icon"
          [class]="modalIcons[data().type].class"
          class="mb-4 h-16 w-16"
        />

        <p class="max-w-sm text-center text-lg">
          {{ data().message }}
        </p>
      </section>
    </main>
  </section>
}
