<article
  [formGroup]="statusForm"
  cdkDrag
  class="flex aspect-video h-auto w-full flex-col overflow-hidden"
>
  <div
    class="relative h-full w-full rounded border border-dashed border-charcoal/30 dark:border-charcoal-dark/30"
    *cdkDragPlaceholder
  ></div>
  <header class="-mr-1 mb-0.5 flex items-center justify-end">
    <button
      class="rounded bg-transparent p-1 text-placeholder/40 transition-colors hover:bg-placeholder/30 hover:text-charcoal dark:text-placeholder-dark/40 dark:hover:bg-placeholder-dark/30 dark:hover:text-charcoal-dark"
      (click)="onDeleted()"
    >
      <i-lucide [img]="DeleteIcon" size="12" />
    </button>
    <button
      class="rounded bg-transparent p-1 text-placeholder/40 transition-colors hover:cursor-grab hover:bg-placeholder/30 hover:text-charcoal active:cursor-grabbing dark:text-placeholder-dark/40 dark:hover:bg-placeholder-dark/30 dark:hover:text-charcoal-dark"
      cdkDragHandle
    >
      <i-lucide [img]="DragIcon" size="12" />
    </button>
  </header>
  <div class="flex-1 rounded p-2" [class]="statusBackground[status.type]">
    <h4 class="mb-4 flex items-center gap-1 font-roboto font-normal uppercase">
      <i-lucide [img]="statusIcons[status.type]" size="20" />
      {{ status.name }}
    </h4>
    <p class="text-sm font-light">
      {{ status.description ? status.description : 'No description' }}
    </p>
  </div>
</article>
