<header
  class="flex items-start md:items-center justify-between sticky top-0 py-5"
>
  <app-horizontal-brand />
  <nav class="ml-auto font-inter font-light hidden md:block">
    <ul class="flex gap-6">
      <li *ngFor="let link of menuItems; let i = index">
        <a
          [routerLink]="link.route"
          [routerLinkActiveOptions]="{ exact: true }"
          routerLinkActive="text-light-primary dark:text-dark-primary font-normal"
          class="transition-colors hover:text-light-secondary dark:hover:text-dark-secondary"
          >{{ link.name }}
        </a>
      </li>
    </ul>
  </nav>

  <button
    type="button"
    class="text-light-primary dark:text-dark-primary md:hidden"
  >
    <lucide-icon [img]="MenuIcon" class="w-6 h-6" />
  </button>
</header>
