<header
  class="flex items-start md:items-center justify-between sticky top-0 py-5 z-10"
>
  <app-horizontal-brand class="hidden md:block" />

  <nav class="mx-auto md:mr-0 font-inter font-light">
    <ul class="flex gap-6">
      <li *ngFor="let link of menuItems; let i = index">
        <a
          [routerLink]="link.route"
          routerLinkActive="border-b-light-bg"
          class="transition-colors text-dark-text hover:text-light-secondary dark:hover:text-dark-secondary border-b-2 border-transparent"
          >{{ link.name }}
        </a>
      </li>
    </ul>
  </nav>
</header>
