<form
  [formGroup]="workflowForm"
  class="grid grid-cols-1 gap-4 md:grid-cols-3"
  (ngSubmit)="onSubmit()"
>
  <section class="col-span-full flex flex-col gap-4 xl:col-span-2">
    <styled-input
      id="title"
      name="title"
      label="Title"
      placeholder="Enter title"
      formControlName="title"
      [control]="workflowForm.get('title')"
    />
    <styled-text-area
      id="description"
      name="description"
      label="Description"
      placeholder="Enter description"
      formControlName="description"
      [control]="workflowForm.get('description')"
    />
  </section>

  <color-picker
    formControlName="color"
    [control]="workflowForm.get('color')"
    class="col-span-full xl:col-span-1"
  />

  <footer class="col-span-full mt-8 flex items-center justify-end gap-4">
    <button styled-button variant="outlined" (click)="onReset()">
      Discard
    </button>

    <button [disabled]="!formValid" type="submit" styled-button>
      Continue
    </button>
  </footer>
</form>
