<header
  class="ml-auto mt-5 flex w-full items-center gap-4 rounded bg-light-secondary/30 p-2.5 md:px-5 dark:bg-dark-secondary/30"
  *ngIf="loggedUser"
>
  <figure>
    <span class="sr-only">Header Logo</span>
    <img
      src="logo-light.png"
      alt="logo"
      width="28"
      height="45"
      class="cursor-pointer object-cover dark:hidden"
      routerLink="/"
    />
    <img
      src="logo-dark.png"
      alt="logo"
      width="28"
      height="45"
      class="hidden cursor-pointer object-cover dark:block"
      routerLink="/"
    />
  </figure>

  <nav
    class="flex flex-col font-light uppercase text-light-primary dark:text-dark-primary"
  >
    <span class="sr-only">Workflows Nav</span>

    <span
      [class.text-xs]="selectedWorkflow"
      [class.font-semibold]="!selectedWorkflow"
      >Dashboard</span
    >
    <span class="font-semibold" *ngIf="selectedWorkflow">{{
      selectedWorkflow.title
    }}</span>
  </nav>

  <nav class="relative ml-auto flex gap-4">
    <span class="sr-only">User Nav</span>

    <div class="hidden flex-col items-end justify-center md:flex">
      <a
        routerLink="/settings"
        class="text-light-text! dark:text-dark-text! font-roboto text-xl uppercase"
        variant="ghosted"
      >
        {{ loggedUser.firstName }}
        {{ loggedUser.lastName }}
        <span class="absolute inset-0"></span>
      </a>
      <span class="text-sm font-light">{{ loggedUser.email }}</span>
    </div>

    <figure
      class="relative flex aspect-square min-w-12 shrink-0 items-center justify-center self-stretch rounded bg-light-primary dark:bg-light-primary"
    >
      <span class="font-roboto text-dark-text">
        {{ loggedUser.firstName[0].toUpperCase()
        }}{{ loggedUser.lastName[0].toUpperCase() }}
      </span>
    </figure>
  </nav>
</header>
