@if (loggedUser()) {
  <header class="flex items-center gap-2">
    <h3 class="mr-2 font-roboto text-2xl font-semibold uppercase">
      My workflows
    </h3>
    <board-action-info
      >Workflows in FlowManage represent structured sequences of tasks designed
      to streamline processes, enhance collaboration, and ensure efficiency in
      project management.</board-action-info
    >
    <board-action-create routerLink="/dashboard/workflows/create" />
    <board-action-filter />
  </header>

  @if (loggedUser()!.workflows.length) {
    <section class="py-8">
      <div class="grid grid-cols-1 gap-4 md:grid-cols-2 xl:grid-cols-3">
        @for (userWorkflow of loggedUser()!.workflows; track $index) {
          <board-workflow-card
            [workflow]="userWorkflow.workflow"
            [userRole]="userWorkflow.role"
          />
        }
      </div>
    </section>
  }
} @else {
  <p class="font-sem mb-4 text-center text-secondary dark:text-secondary-dark">
    <i-lucide [img]="LoadIcon" class="inline animate-spin" /> Loading
  </p>
}
