<h2
  class="font-inter text-4xl leading-tight font-light text-light-text dark:text-dark-text"
>
  Stay on top of your projects and achieve your goals with ease.
</h2>

<h3
  class="font-inter font-medium text-2xl bg-clip-text text-transparent bg-gradient-to-r from-light-accent via-light-secondary via-40% to-light-primary"
>
  Streamline your workflow.
</h3>

<p class="mt-16 mb-8 font-inter text-xl font-light">
  FlowManage simplifies project management, helping you organize workflows,
  manage tasks, and boost team collaboration.
</p>

<styled-link
  type="button"
  colorStyle="primary"
  variant="filled"
  routerLink="login"
>
  Get Started
</styled-link>
