<figure class="mx-auto my-4 w-12 md:hidden md:w-16">
  <img
    src="logo-light.png"
    alt="Logo"
    width="64px"
    class="w-full dark:hidden"
  />
  <img
    src="logo-dark.png"
    alt="Logo"
    width="64px"
    class="hidden w-full dark:block"
  />
</figure>

<h2
  class="mb-4 text-center font-inter text-2xl font-light !leading-tight text-light-text md:mb-0 md:text-left md:text-4xl dark:text-dark-text"
>
  Stay on top of your projects and achieve your goals with ease.
</h2>

<h3
  class="bg-gradient-to-r from-dark-accent via-dark-primary via-40% to-dark-secondary bg-clip-text text-center font-inter text-2xl font-medium text-transparent md:from-light-accent md:via-light-secondary md:to-light-primary md:text-left"
>
  Streamline your workflow.
</h3>

<p
  class="text-md mb-8 mt-16 space-y-4 text-center font-inter font-light md:text-left md:text-xl"
>
  FlowManage simplifies project management, helping you organize workflows,
  manage tasks, and boost team collaboration. <br /><br />
  <a
    styled-link
    type="button"
    colorStyle="primary"
    variant="filled"
    routerLink="login"
  >
    Get Started
  </a>
</p>
