<figure class="mx-auto my-8 w-16 md:hidden">
  <img src="logo-light.png" alt="Logo" width="64px" class="dark:hidden" />
  <img src="logo-dark.png" alt="Logo" width="64px" class="hidden dark:block" />
</figure>

<h2
  class="mb-4 text-center font-inter text-3xl font-light !leading-tight text-light-text md:mb-0 md:text-left md:text-4xl dark:text-dark-text"
>
  Stay on top of your <br />
  projects and achieve your goals with ease.
</h2>

<h3
  class="bg-gradient-to-r from-light-accent via-light-secondary via-40% to-light-primary bg-clip-text text-center font-inter text-2xl font-medium text-transparent md:text-left"
>
  Streamline your workflow.
</h3>

<p
  class="mb-8 mt-16 space-y-4 text-center font-inter text-xl font-light md:text-left"
>
  FlowManage simplifies project management, helping you organize workflows,
  manage tasks, and boost team collaboration. <br /><br />
  <a
    styled-link
    type="button"
    colorStyle="primary"
    variant="filled"
    routerLink="login"
  >
    Get Started
  </a>
</p>
