<figure class="mx-auto my-4 w-12 md:hidden md:w-16">
  <img
    src="logo-light.png"
    alt="Logo"
    width="64px"
    class="w-full dark:hidden"
  />
  <img
    src="logo-dark.png"
    alt="Logo"
    width="64px"
    class="hidden w-full dark:block"
  />
</figure>

<h2
  class="text-charcoal dark:text-charcoal-dark mb-4 text-center font-inter text-xl font-light !leading-tight md:mb-0 md:text-left md:text-4xl"
>
  Stay on top of your projects and achieve your goals with ease.
</h2>

<h3
  class="md:from-accent md:via-secondary md:to-primary via-primary-dark to-secondary-dark from-accent-dark bg-gradient-to-r via-40% bg-clip-text text-center font-inter text-lg font-medium text-transparent md:text-left md:text-2xl"
>
  Streamline your workflow.
</h3>

<p
  class="my-8 space-y-4 text-center font-inter text-sm font-light md:mt-16 md:text-left md:text-xl"
>
  FlowManage simplifies project management, helping you organize workflows,
  manage tasks, and boost team collaboration. <br /><br />
  <a
    styled-link
    type="button"
    colorStyle="primary"
    variant="filled"
    routerLink="login"
  >
    Get Started
  </a>
</p>
