<header
  class="sticky top-0 z-10 flex items-start justify-between py-5 md:items-center"
>
  <app-horizontal-brand class="hidden md:block" />

  <nav class="mx-auto font-inter font-light md:mr-0">
    <ul class="flex gap-6">
      <li *ngFor="let link of menuItems; let i = index">
        <a
          [routerLink]="link.route"
          routerLinkActive="border-b-bg"
          [routerLinkActiveOptions]="{ exact: true }"
          class="hover:border-b-canvas dark:hover:text-secondary-dark md:text-charcoal-dark border-b-2 border-transparent transition-colors"
          >{{ link.name }}
        </a>
      </li>
    </ul>
  </nav>
</header>
