<div class="flex items-stretch gap-1">
  <img
    src="logo-light.png"
    alt="logo"
    width="28"
    height="45"
    class="object-cover dark:hidden"
  />
  <img
    src="logo-dark.png"
    alt="logo"
    width="28"
    height="45"
    class="hidden object-cover dark:block"
  />
  <div class="flex flex-col">
    <a
      href="/"
      class="text-primary dark:text-primary-dark font-roboto text-xl font-normal uppercase"
      >Flowmanage</a
    >
    <span
      class="text-charcoal dark:text-charcoal-dark font-inter text-sm font-light"
      >Manage. Collaborate. Succeed.</span
    >
  </div>
</div>
