<div class="flex items-stretch gap-1">
  <img
    src="logo-light.png"
    alt="logo"
    width="28"
    height="45"
    class="object-cover dark:hidden"
  />
  <img
    src="logo-dark.png"
    alt="logo"
    width="28"
    height="45"
    class="object-cover hidden dark:block"
  />
  <div class="flex flex-col">
      <a
        href="/"
        class="text-xl text-light-primary dark:text-dark-primary uppercase font-roboto font-normal"
        >Flowmanage</a
      >
      <span
        class="font-inter font-light text-sm text-light-text dark:text-dark-text"
        >Manage. Collaborate. Succeed.</span
      >
  </div>
</div>
