<div class="flex items-stretch gap-1">
  <img
    src="logo-light.png"
    alt="logo"
    width="28"
    height="45"
    class="object-cover dark:hidden"
  />
  <img
    src="logo-dark.png"
    alt="logo"
    width="28"
    height="45"
    class="hidden object-cover dark:block"
  />
  <div class="flex flex-col">
    <a
      href="/"
      class="font-roboto text-xl font-normal uppercase text-light-primary dark:text-dark-primary"
      >Flowmanage</a
    >
    <span
      class="font-inter text-sm font-light text-light-text dark:text-dark-text"
      >Manage. Collaborate. Succeed.</span
    >
  </div>
</div>
