<section>
  <header class="flex flex-wrap items-center gap-4">
    <h3 class="font-roboto text-xl font-normal uppercase">Workflows States</h3>

    <button
      class="flex items-center gap-1 rounded bg-placeholder/30 p-1 text-xs uppercase transition-colors hover:bg-placeholder dark:bg-placeholder-dark/30 dark:hover:bg-placeholder-dark"
    >
      <i-lucide [img]="CreateIcon" size="10" />
      Pending State
    </button>

    <button
      class="flex items-center gap-1 rounded bg-secondary/30 p-1 text-xs uppercase transition-colors hover:bg-secondary dark:bg-secondary-dark/30 dark:hover:bg-secondary-dark"
    >
      <i-lucide [img]="CreateIcon" size="10" />
      Active State
    </button>

    <button
      class="flex items-center gap-1 rounded bg-accent/30 p-1 text-xs uppercase transition-colors hover:bg-accent dark:bg-accent-dark/30 dark:hover:bg-accent-dark"
    >
      <i-lucide [img]="CreateIcon" size="10" />
      Completed State
    </button>

    @if (errorMessages.length) {
      <ul
        class="mt-4 block w-full rounded-e border-l-2 border-error bg-error/10 p-2 dark:bg-error-dark/10"
      >
        <li *ngFor="let message of errorMessages" class="text-xs text-error">
          {{ message }}
        </li>
      </ul>
    }
  </header>

  <section class="mt-8 grid grid-cols-1 gap-4 sm:grid-cols-2 lg:grid-cols-4">
    <board-status-preview
      *ngFor="let status of statuses"
      [status]="status"
      (deletedStatus)="onDeleteStatus($event)"
    />

    @if (!statuses.length) {
      <p
        class="col-span-full rounded border-2 border-dashed border-placeholder/30 p-4 text-center text-placeholder dark:border-placeholder-dark/30"
      >
        No statuses added yet.
      </p>
    }
  </section>
</section>
