<section>
  <header class="flex items-center gap-4">
    <h3 class="font-roboto text-xl font-normal uppercase">Workflows States</h3>
    <button
      class="bg-placeholder/30 dark:bg-placeholder-dark/30 hover:bg-placeholder dark:hover:bg-placeholder-dark flex items-center gap-1 rounded p-1 text-xs uppercase transition-colors"
    >
      <i-lucide [img]="CreateIcon" size="10" />
      Pending State
    </button>
    <button
      class="flex items-center gap-1 rounded bg-secondary/30 p-1 text-xs uppercase transition-colors hover:bg-secondary dark:bg-secondary-dark/30 dark:hover:bg-secondary-dark"
    >
      <i-lucide [img]="CreateIcon" size="10" />
      Active State
    </button>
    <button
      class="flex items-center gap-1 rounded bg-accent/30 p-1 text-xs uppercase transition-colors hover:bg-accent dark:bg-accent-dark/30 dark:hover:bg-accent-dark"
    >
      <i-lucide [img]="CreateIcon" size="10" />
      Completed State
    </button>
  </header>
  <section class="mt-8 flex flex-wrap justify-between">
    <board-status-preview
      *ngFor="let status of statuses"
      [status]="status"
      class="w-full md:w-1/2 lg:w-1/4"
    />
  </section>
</section>
