<section>
  <header class="flex flex-wrap items-center gap-4">
    <h3 class="font-roboto text-xl font-normal uppercase">Workflows States</h3>
    @for (status of createStatusButtons; track $index) {
      <button
        class="flex items-center gap-1 rounded p-1 text-xs uppercase transition-colors"
        [class]="status.class"
        (click)="showCreateStatusModal(status.type)"
      >
        <i-lucide [img]="CreateIcon" size="10" />
        {{ status.label }}
      </button>
    }

    @if (errorMessages.length) {
      <ul
        class="mt-4 block w-full rounded-e border-l-2 border-error bg-error/10 p-2 dark:bg-error-dark/10"
      >
        <li *ngFor="let message of errorMessages" class="text-xs text-error">
          {{ message }}
        </li>
      </ul>
    }
  </header>

  <form [formGroup]="workflowForm" class="mt-4" (ngSubmit)="onSubmit()">
    <section
      cdkDropList
      formArrayName="statuses"
      cdkDropListOrientation="horizontal"
      (cdkDropListDropped)="drop($event)"
      [cdkDropListData]="statusFormArray.controls"
      class="relative mt-8 grid grid-cols-1 gap-4 rounded border border-dashed border-charcoal/10 p-4 sm:grid-cols-2 lg:grid-cols-4 dark:border-charcoal-dark/10"
    >
      <board-status-preview
        *ngFor="let status of statusFormArray.controls; let i = index"
        (deletedStatus)="onDeleteStatus($event)"
        [statusForm]="status"
      />
      @if (!statuses.length) {
        <span class="col-span-full text-center">No statuses added yet.</span>
      }
    </section>

    <footer class="mt-8 flex w-full items-center justify-end gap-4">
      <button
        styled-button
        type="button"
        variant="ghosted"
        class="mr-auto"
        routerLink="/dashboard/workflows/create/description"
      >
        Back
      </button>

      <button styled-button variant="outlined" (click)="onDiscard()">
        Discard
      </button>

      <button
        [disabled]="!workflowForm.valid"
        type="submit"
        styled-button
        colorStyle="accent"
      >
        Save
      </button>
    </footer>
  </form>

  @if (createNewStatusType) {
    <board-modal-create-status
      [open]="!!createNewStatusType"
      [type]="createNewStatusType"
      (onCreate)="onCreateStatus($event)"
      (onClose)="hideStatusModal()"
    />
  }

  <modal-form-feedback [data]="modalFeedback" />
</section>
