<div class="flex flex-col gap-2">
  @if (label) {
    <label
      [for]="id"
      class="flex items-center gap-1"
      [class.text-error]="errorMessages.length > 0"
      [class.text-success]="!errorMessages.length && value"
    >
      {{ label }}
      @if (errorMessages.length > 0) {
        <i-lucide [img]="ErrorIcon" class="h-4 w-4" />
      } @else if (value) {
        <i-lucide [img]="CheckIcon" class="h-4 w-4" />
      }
    </label>
  }

  <input
    [type]="type"
    [name]="name"
    [id]="id"
    [placeholder]="placeholder"
    [value]="value"
    (input)="onInput($event)"
    class="border-b-2 border-b-light-text/50 bg-transparent pb-2 text-base outline-none transition-all placeholder:font-light focus:border-b-2 focus:border-b-light-primary dark:border-b-light-text dark:focus:border-b-dark-primary"
    [class.!border-b-error]="errorMessages.length > 0"
    [class.!border-b-success]="value && !errorMessages.length"
  />

  @if (errorMessages.length > 0) {
    <span class="flex gap-1 text-xs font-light !leading-none text-error">
      {{ errorMessages.join(', ') }}.
    </span>
  }
</div>
