<section class="w-full md:min-w-96">
  <h1 class="text-center font-roboto text-2xl md:text-3xl">Sign In</h1>
  <p class="text-center font-light">
    Don't have an account?
    <a styled-link routerLink="/register">Sign Up</a>
  </p>

  <form [formGroup]="loginForm" class="mt-12" (ngSubmit)="onSubmit()">
    @if (message) {
      <p
        class="font-sem mb-4 text-center"
        [class.text-success]="message.type === 'success'"
        [class.text-error]="message.type === 'error'"
      >
        {{ message.text }}
      </p>
    }

    @if (isLoading) {
      <p
        class="font-sem mb-4 text-center text-light-secondary dark:text-dark-secondary"
      >
        <i-lucide [img]="LoadIcon" class="inline animate-spin" /> Loading
      </p>
    }

    <section class="flex flex-col gap-4">
      <styled-input
        label="E-mail"
        placeholder="johndoe@example.com"
        type="email"
        name="email"
        id="email"
        formControlName="email"
        [control]="loginForm.get('email')"
      />

      <styled-input
        label="Password?"
        placeholder="********"
        type="password"
        name="password"
        id="password"
        formControlName="password"
        [control]="loginForm.get('password')"
      />
    </section>

    <section class="mt-8 flex flex-col gap-4">
      <a
        styled-link
        routerLink="/reset-password"
        class="text-right text-sm !no-underline"
        >Forgot your Password?</a
      >
      <button
        styled-button
        type="submit"
        colorStyle="primary"
        variant="filled"
        class="w-full self-stretch"
        [disabled]="!loginForm.valid || isLoading"
      >
        Sign In
      </button>
    </section>
  </form>
</section>
